@font-face {
  font-family: 'kaisen';
  src: url('../src/assets/fonts/Kaizen.otf');
}
.App {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom,rgb(2, 40, 255),rgb(16, 248, 237));

}
.Box {
  margin-top: 5%;
  margin-left: 25%;
  height: 80%;
  max-height: 80%;
  overflow: auto;
  width: 50%;
  align-self: center;
  align-items: center;
  background: white;
  color: black;
  font-family: 'Poppins',sans-serif;
  justify-content: center;

}
.title {
  margin-top: 0;
  justify-content: center;
  text-align: center;
  font-family: 'kaisen';
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(189, 189, 189);
  box-shadow: 0px 10px 20px .2px grey;
}
.inpt {
  float: left;
  margin-left: 10%;
  width: 60%;
  height: 50px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
}
.inpt:focus {
  outline: none;
}
.add {
  background: rgb(255, 43, 191);
  height: 50px;
  width: 20%;
  margin-left: 5%;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}
.add:hover {
  transition: 1s;
  cursor: pointer;
}
.task {
  width: 100%;
  height: 10%;
  background-color: #d2d2d2;
  margin-bottom: 2px;

}
.task:nth-child(odd) {
  background: rgb(105, 104, 104);
}
.task p {
  font-family: 'Poppins';
  font-size: 18px;
  width: 70%;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.task button {
  float: right;
  width: 20%;
  height: 100%;
  background:red;
  color: white;
  border: none;
  font-size: 24px;
  text-align: center;
}
.task button:hover {
  transition: 1s;
  cursor: pointer;
}